<h1><span data-i18n="skills.my_skills" style="color: rgb(15,123,108)">🙋🏻‍♂️About Me</span></h1>
<hr>
<div>
    <h2>
        Introduction
    </h2>
    <ul>
        <li>안녕하세요. 안드로이드를 공부하는 학생입니다.</li>
        <li></li>
    </ul>
    <h2>
        Contact & Channel
    </h2>
    <ul>
        <li><strong><i class="fa fa-fw fa-envelope"></i>Email&nbsp;|&nbsp;</strong> <a href="mailto:younhwan1997@naver.com">younhwan0903@gmail.com</a></li>
        <li><strong><i class="fa fa-fw fa-github"></i>Github&nbsp;|&nbsp;</strong><a href="https://github.com/younhwan97">https://github.com/younhwan97</a></li>
        <li><strong><i class="fa fa-fw fa-instagram"></i>Instagram&nbsp;|&nbsp;</strong><a href="https://www.instagram.com/yh__._.z/">https://www.instagram.com/yh__._.z/</a></li>
    </ul>
</div>