{% if page.author %} {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.owner %} {% endif %}

<div class="cover-card table-cell table-middle">
  {% if author.avatar %}
  <a href="{{ site.url }}/">
    <img src="{{ site.url }}/img/{{ author.avatar }}" alt="" class="avatar">
  </a>
  {% endif %}
  <a href="{{ site.url }}/" class="author_name">{{ author.name }}</a>
  
  <span class="author_job">{{ author.job }}</span>
  <span class="author_bio mbm">{{ author.bio }}</span>
  <nav class="nav">
    <ul class="nav-list">
      <li class="nav-item" style="font-size: 20px">
        <a href="{{ site.url }}/">home</a>
      </li>
      {% for page in site.pages %} {% if page.title %}
      <li class="nav-item" style="font-size: 20px">
        <a href="{{ site.url }}{{ page.url }}">{{ page.title }}</a>
      </li>
      {% endif %} {% endfor %}
    </ul>
  </nav>
  <br>
  <!-- hits -->
  <a target="_blank" href="https://hits.seeyoufarm.com">
    <script>
      if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
        // mobile
        document.write(`
          <img 
              src="https://hits.seeyoufarm.com/api/count/incr/badge.svg?url=https%3A%2F%2Fyounhwan97.github.io&count_bg=%23555555&title_bg=%2379C83D&icon=android.svg&icon_color=%23E7E7E7&title=Total&edge_flat=false"/>
        `)
      }else{
        // desktop
        document.write(`
          <img 
              style="margin-right: 0;"
              src="https://hits.seeyoufarm.com/api/count/incr/badge.svg?url=https%3A%2F%2Fyounhwan97.github.io&count_bg=%23555555&title_bg=%2379C83D&icon=android.svg&icon_color=%23E7E7E7&title=Total&edge_flat=false"/>
        `)
      }
    </script>
  </a>
  <!--  {% include social-links.html %}-->
</div>

